<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>相册控制台</title>
	<link rel="stylesheet" href="">
	<link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/style/index.css">
	<script src="assets/libs/jquery.min.js" type="text/javascript"></script>
	<script src="assets/libs/angular.min.js" type="text/javascript"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-controller="xcCtrl">
	<header class="header">
		相册生成器
	</header>
	<section class="container-fluid" >
		<div class="cvs-wrap">
			<div class="cvs-container"  ng-style="canvasComputed" id="cvs-wrap">
				<div class="bg"></div>
				<div class="cvs-items">
					<div 
						class="img-items" 
						ng-mousedown="getItem($event,item)" 
						ng-mousemove="moveItem($event,item)"
						ng-mouseup="removeMoveItem($event,item)"	
						id="{{item.id}}" ng-style="item" ng-repeat="item in itemList">
						<div class="glyphicon glyphicon-plus"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="ctrl-plan fl">
			<div class="ctrl-heading">微调</div>
			<div class="ctrl-body">
			    <div class=''>
			    	
			    	<div class="pd-tb-5">
			    		<div class=" btn btn-success file-bg">
			    			插入背景图
			    			<input type="file" 
			    				class="file-opcity-0" 
			    				id="upload-background" 
			    				accept="image/png,image/jpg,image/jpeg"  >
			    		</div>

			    		<input type="button" value="上传" ng-click="uploadAdmin()" class="btn btn-primary">
			    		<input type="button" value="选择已有背景"  ng-click="getImgBgList()" class="btn btn-warning">
			    	</div>
			    	<div class="pd-tb-5">
			    		<div class="previewBg">
			    			<img src="" alt="">
			    		</div>
			    	</div>
			    	<hr/>
			    	<label>
			    		计算背景宽高:
			    	</label>
			    	<div class="pd-tb-5">
			    		<input type="number" class="computed-value" ng-model="canvasComputed.width" 
			    			placeholder="宽" 
			    			ng-change="changeSize(canvasComputed,cvsRatio,'rotate')">
			    		<input type="number" class="computed-value" ng-model="canvasComputed.height" 
			    			placeholder="高" ng-change="changeSize(canvasComputed,cvsRatio,'rotate')">
			    		<span>比例：</span>
			    		<input type="text" class="computed-value" readonly="" 
			    		ng-model="cvsRatio.rotate" name="" placeholder="自动计算">
			    	</div>
			    	
			    	<hr/>
			    	<div class="pd-tb-5">
			    		<input type="button" ng-click="addItems()" value="添加元素" class="btn btn-success" name="">
			    	</div>
			    	<div class="pd-tb-5">
			    		<label for="">设置元素宽高：</label>
			    	</div>
			    	<div class="pd-tb-5">
			    		<input type="number" class="computed-value" 
			    			placeholder="宽" 
			    			ng-change="changeSize(currentItem,currentItem,'aspectRatio')"
			    			ng-model="currentItem.width">
			    		<input type="number" class="computed-value" 
			    			placeholder="高" 
			    			ng-change="changeSize(currentItem,currentItem,'aspectRatio')"
			    			ng-model="currentItem.height">
			    		<span>比例：</span>
			    		<input type="text" class="computed-value" readonly="" 
			    			ng-model="currentItem.aspectRatio" name="" placeholder="自动计算">
			    	</div>
			    	<div class="pd-tb-5">
			    		<label for="">微调元素位置：</label>
			    	</div>
					<div class="pd-tb-5 text-center">
			    		<input class="btn btn-primary" ng-click="changeRotate('rotate',-1)"  type="button" value="角度+"></input>
			    		<input type="number" ng-model="currentItem.rotate" 
			    			class="computed-value"  name="" readonly="">
			    		<input class="btn btn-danger" ng-click="changeRotate('rotate',1)" type="button" value="角度-">
			    	</div>
			    	<div class="pd-tb-5 row">
			    		
				    	<div class="pd-tb-5 col-xs-6 text-center">
				    		<label for="">左右：</label>
				    		<input type="number" ng-model="currentItem.left" 
				    			class="computed-value" name="" readonly="">
				    	</div>
				    	<div class="pd-tb-5 col-xs-6 text-center">
				    		<label for="">上下：</label>
				    		<input type="number" ng-model="currentItem.top" 
				    			class="computed-value"  name="" readonly="">
				    	</div>
				    	<div class="pd-tb-5 col-xs-6 text-center">
				    		<label for="">高度：</label>
				    		<input type="number" ng-model="currentItem.height" 
				    			class="computed-value"  name="" readonly="">
				    		
				    	</div>
				    	<div class="pd-tb-5 col-xs-6 text-center">
				    		<label for="">宽度：</label>
				    		<input type="number" ng-model="currentItem.width" 
				    			class="computed-value"  name="" readonly="">
				    	</div>
			    	</div>
			    </div>
			</div>
		</div>
	</section>
	<footer class="footer"></footer>
	<!-- /.modal-content -->
	<div class="modal fade"   id="getImgList">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body modal-title-list">
					<div class="title-list">
						<ul>
							<li ng-click="getListItem(item,index)" ng-class="{'active':index==listActive}" class="list-type" ng-repeat="(index,item) in typeList">{{ item.type }}</li>
						</ul>	
					</div>
				</div>
				<div class="modal-body">
					<p>这里是[利索美丽]系列的背景图片</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary">确定</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<!-- loading -->
	<div class="loading-wrap" ng-show="isloading">
		<div class="loading-cont">loading...</div>
	</div>
</body>
<script src="assets/js/index.js" type="text/javascript"></script>
</html>